@import '../../variables';

.container {
}

.wrong_login {
  font-family: $font_main;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: $border_red;
}

.recover {
  font-family: $font_main;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: $main_dark;
}
